Repository jminie-o8o/sidedish, pull requests merged in 2022-04, with the labels that each got.

#2 build: 프로젝트 초기 세팅
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/team28/sidedish/SidedishApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/team28/sidedish/SidedishApplicationTests.java
Labels: backend

#5 build: swagger 의존성 추가
  backend/build.gradle
Labels: backend

#11 build: swagger 설정 클래스 추가
  backend/src/main/java/com/team28/sidedish/config/SwaggerConfig.java
Labels: backend, build

#12 [Ader] 카테고리 목록 조회 Mock API 구현 #7
  backend/src/main/java/com/team28/sidedish/controller/CategoryController.java
  backend/src/main/java/com/team28/sidedish/controller/dto/CategoryResponse.java
  backend/src/main/java/com/team28/sidedish/service/CategoryService.java
  backend/src/main/java/com/team28/sidedish/service/MockCategoryService.java
Labels: backend, feature

#13 [Backend] 상품 목록 조회 Mock API 개발
  backend/src/main/java/com/team28/sidedish/controller/ProductController.java
Labels: backend, feature

#15 [Backend] 주문 요청 Mock API 개발 #8
  backend/src/main/java/com/team28/sidedish/controller/OrderController.java
  backend/src/main/java/com/team28/sidedish/controller/dto/OrderRequest.java
  backend/src/main/java/com/team28/sidedish/exception/ErrorResponse.java
  backend/src/main/java/com/team28/sidedish/service/MockOrderService.java
  backend/src/main/java/com/team28/sidedish/service/OrderService.java
Labels: backend, feature

#18 [Backend] 상품 상세 조회 Mock API 개발
  backend/src/main/java/com/team28/sidedish/controller/ProductController.java
  backend/src/main/java/com/team28/sidedish/controller/dto/ProductDetailResponse.java
  backend/src/main/java/com/team28/sidedish/controller/dto/ProductImageResponse.java
  backend/src/main/java/com/team28/sidedish/service/MockProductDetailService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductImageService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductService.java
  backend/src/main/java/com/team28/sidedish/service/ProductDetailService.java
  backend/src/main/java/com/team28/sidedish/service/ProductImageService.java
  backend/src/main/java/com/team28/sidedish/service/ProductService.java
Labels: backend, feature

#19 fix: 상품 목록 조회 Mock API 버그 수정
  backend/src/main/java/com/team28/sidedish/service/MockProductService.java
Labels: backend, fix

#21 [Backend] 1단계 피드백 적용
  backend/src/main/java/com/team28/sidedish/controller/CategoryController.java
  backend/src/main/java/com/team28/sidedish/service/CategoryService.java
  backend/src/main/java/com/team28/sidedish/service/MockCategoryService.java
Labels: backend, fix

#22 refactor: Service 계층은 인터페이스를 두지 않고, 구현체를 직접 사용하도록 변경
  backend/src/main/java/com/team28/sidedish/controller/OrderController.java
  backend/src/main/java/com/team28/sidedish/controller/ProductController.java
  backend/src/main/java/com/team28/sidedish/service/MockOrderService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductDetailService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductImageService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductService.java
  backend/src/main/java/com/team28/sidedish/service/OrderService.java
  backend/src/main/java/com/team28/sidedish/service/ProductDetailService.java
  backend/src/main/java/com/team28/sidedish/service/ProductImageService.java
  backend/src/main/java/com/team28/sidedish/service/ProductService.java
Labels: backend, refactor, fix

#27 [Android] - Product Detail UI 완성
  android/.idea/misc.xml
  android/app/src/main/assets/product_detail.json
  android/app/src/main/java/com/example/sidedish/ProductDetailActivity.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailDataSource.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailImage.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailImageAdapter.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailImageDataSource.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailRepository.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailTitleImage.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailViewModel.kt
  android/app/src/main/res/drawable/badge_background.xml
  android/app/src/main/res/drawable/count_background.xml
  android/app/src/main/res/drawable/ic_baseline_add_42.xml
  android/app/src/main/res/drawable/ic_baseline_remove_42.xml
  android/app/src/main/res/layout/activity_product_detail.xml
  android/app/src/main/res/layout/item_porduct_detail_image.xml
  android/app/src/main/res/values-night/strings.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: android, feature

#31 [Ader] 2단계 피드백 적용
  backend/src/main/java/com/team28/sidedish/controller/ProductController.java
  backend/src/main/java/com/team28/sidedish/controller/dto/ProductDetailResponse.java
  backend/src/main/java/com/team28/sidedish/service/MockOrderService.java
Labels: backend, fix

#32 [Backend] 예외 핸들러 설정 분리
  backend/src/main/java/com/team28/sidedish/controller/OrderController.java
  backend/src/main/java/com/team28/sidedish/exception/GlobalExceptionHandler.java
Labels: backend, refactor

#39 [Ader] 엔티티, 리포지토리 작업
  backend/src/main/java/com/team28/sidedish/repository/CategoryRepository.java
  backend/src/main/java/com/team28/sidedish/repository/DiscountRepository.java
  backend/src/main/java/com/team28/sidedish/repository/MemberRepository.java
  backend/src/main/java/com/team28/sidedish/repository/OrderItemRepository.java
  backend/src/main/java/com/team28/sidedish/repository/OrdersRepository.java
  backend/src/main/java/com/team28/sidedish/repository/ProductImageRepository.java
  backend/src/main/java/com/team28/sidedish/repository/ProductRepository.java
  backend/src/main/java/com/team28/sidedish/repository/entity/CategoryEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/DiscountEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/MemberEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/OrderItemEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/OrdersEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/ProductEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/ProductImageEntity.java
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: backend, feature

#41 [Ader] 엔티티 연관관계 매핑 수정
  backend/src/main/java/com/team28/sidedish/repository/OrderItemRepository.java
  backend/src/main/java/com/team28/sidedish/repository/OrderProductsRepository.java
  backend/src/main/java/com/team28/sidedish/repository/entity/CategoryEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/OrderProductsEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/OrdersEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/ProductEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/ProductImageEntity.java
Labels: backend, refactor, fix

#43 [Backend] 전역 예외처리 로직 추가
  backend/src/main/java/com/team28/sidedish/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team28/sidedish/exception/SidedishRuntimeException.java
Labels: backend, feature

#45 [Backend] Mock API 가 실제 이미지를 반환하도록 수정
  backend/src/main/java/com/team28/sidedish/service/MockProductImageService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductService.java
Labels: backend, fix

#46 [Backend] MockProductImageService 에 잘못된 이미지 순서 수정
  backend/src/main/java/com/team28/sidedish/service/MockProductImageService.java
Labels: backend, fix

#47 [Backend] schema.sql, data.sql 문법 오류 수정
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: backend, fix

#48 build: 프로젝트 실행 환경 설정 추가
  backend/src/main/resources/application.properties
Labels: backend, build

#50 [Backend] 카테고리 리포지토리, 서비스 구현 #40
  backend/src/main/java/com/team28/sidedish/controller/CategoryController.java
  backend/src/main/java/com/team28/sidedish/controller/dto/CategoryResponse.java
  backend/src/main/java/com/team28/sidedish/repository/CategoryRepository.java
  backend/src/main/java/com/team28/sidedish/service/CategoryService.java
  backend/src/main/java/com/team28/sidedish/service/MockCategoryService.java
Labels: backend, feature

#51 [Android] - MVVM 패턴 완성 & 모든 서버 API 통신 구현 완료
  android/.idea/deploymentTargetDropDown.xml
  android/.idea/misc.xml
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/assets/product_detail.json
  android/app/src/main/java/com/example/sidedish/ApiService.kt
  android/app/src/main/java/com/example/sidedish/AppModule.kt
  android/app/src/main/java/com/example/sidedish/AssetLoader.kt
  android/app/src/main/java/com/example/sidedish/BindingAdapter.kt
  android/app/src/main/java/com/example/sidedish/MainViewModel.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailActivity.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailDataSource.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailImageDataSource.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailRepository.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailTitleImage.kt
  android/app/src/main/java/com/example/sidedish/ProductDetailViewModel.kt
  android/app/src/main/java/com/example/sidedish/Products.kt
  android/app/src/main/java/com/example/sidedish/Repository.kt
  android/app/src/main/java/com/example/sidedish/ViewModelFactory.kt
  android/app/src/main/java/com/example/sidedish/model/Error.kt
  android/app/src/main/java/com/example/sidedish/model/MenuData.kt
  android/app/src/main/java/com/example/sidedish/model/PostRequest.kt
  android/app/src/main/java/com/example/sidedish/model/ProductDetail.kt
  android/app/src/main/java/com/example/sidedish/network/ApiService.kt
  android/app/src/main/java/com/example/sidedish/network/NetworkUtil.kt
  android/app/src/main/java/com/example/sidedish/network/RetrofitAPI.kt
  android/app/src/main/java/com/example/sidedish/repository/MainDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/MainRemoteDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/MainRepository.kt
  android/app/src/main/java/com/example/sidedish/repository/ProductCountRemoteDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/ProductDetailDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/ProductDetailRemoteDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/ProductDetailRepository.kt
  android/app/src/main/java/com/example/sidedish/ui/MainActivity.kt
  android/app/src/main/java/com/example/sidedish/ui/MainHomeAdapter.kt
  android/app/src/main/java/com/example/sidedish/ui/MainViewModel.kt
  android/app/src/main/java/com/example/sidedish/ui/ProductDetailActivity.kt
  android/app/src/main/java/com/example/sidedish/ui/ProductDetailImageAdapter.kt
  android/app/src/main/java/com/example/sidedish/ui/ProductDetailViewModel.kt
  android/app/src/main/java/com/example/sidedish/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/sidedish/ui/common/ButtonState.kt
  android/app/src/main/java/com/example/sidedish/ui/common/GlideModule.kt
  android/app/src/main/java/com/example/sidedish/ui/common/HiltApplication.kt
  android/app/src/main/java/com/example/sidedish/ui/common/ViewModelFactory.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_product_detail.xml
  android/app/src/main/res/layout/item_menu_data.xml
  android/app/src/main/res/layout/item_product_detail_image.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: android, feature

#52 [Backend] 주문 API 기능 구현 #40
  backend/src/main/java/com/team28/sidedish/controller/OrderController.java
  backend/src/main/java/com/team28/sidedish/controller/dto/OrderRequest.java
  backend/src/main/java/com/team28/sidedish/exception/OutOfStockException.java
  backend/src/main/java/com/team28/sidedish/repository/ProductRepository.java
  backend/src/main/java/com/team28/sidedish/repository/entity/OrderProductsEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/OrdersEntity.java
  backend/src/main/java/com/team28/sidedish/repository/entity/ProductEntity.java
  backend/src/main/java/com/team28/sidedish/service/MockOrderService.java
  backend/src/main/java/com/team28/sidedish/service/OrderService.java
  backend/src/main/resources/sql/schema.sql
Labels: backend, feature

#54 [Backend] OAuth 기능 구현 적용
  backend/build.gradle
  backend/src/main/java/com/team28/sidedish/config/WebConfig.java
  backend/src/main/java/com/team28/sidedish/controller/CategoryController.java
  backend/src/main/java/com/team28/sidedish/controller/OAuthController.java
  backend/src/main/java/com/team28/sidedish/controller/dto/OAuthLoginResponse.java
  backend/src/main/java/com/team28/sidedish/controller/oauth/OAuthAccessTokenRequest.java
  backend/src/main/java/com/team28/sidedish/controller/oauth/OAuthAccessTokenResponse.java
  backend/src/main/java/com/team28/sidedish/controller/oauth/OAuthUrl.java
  backend/src/main/java/com/team28/sidedish/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team28/sidedish/exception/LoginFailedException.java
  backend/src/main/java/com/team28/sidedish/exception/URISyntaxException.java
  backend/src/main/java/com/team28/sidedish/interceptor/TokenVerifyInterceptor.java
  backend/src/main/java/com/team28/sidedish/service/GithubApiService.java
  backend/src/main/java/com/team28/sidedish/service/MockCategoryService.java
  backend/src/main/java/com/team28/sidedish/service/MockOrderService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductDetailService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductImageService.java
  backend/src/main/java/com/team28/sidedish/service/MockProductService.java
  backend/src/main/java/com/team28/sidedish/service/OAuthService.java
  backend/src/main/java/com/team28/sidedish/service/dto/UserProfile.java
  backend/src/main/java/com/team28/sidedish/utils/EnvUtils.java
  backend/src/main/java/com/team28/sidedish/utils/JwtUtils.java
Labels: backend, feature

#55 [Ader] 자동배포 기능 구현
  backend/build.gradle
  backend/deploy/deploy.sh
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: backend, feature

#57 [Android] Hilt 적용 및 CoroutineExceptionHandler 적용, UI 보완
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/sidedish/MainApplication.kt
  android/app/src/main/java/com/example/sidedish/model/PostRequest.kt
  android/app/src/main/java/com/example/sidedish/network/ApiService.kt
  android/app/src/main/java/com/example/sidedish/network/RetrofitAPI.kt
  android/app/src/main/java/com/example/sidedish/repository/MainRemoteDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/MainRepository.kt
  android/app/src/main/java/com/example/sidedish/repository/ProductCountRemoteDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/ProductDetailRemoteDataSource.kt
  android/app/src/main/java/com/example/sidedish/repository/ProductDetailRepository.kt
  android/app/src/main/java/com/example/sidedish/ui/MainActivity.kt
  android/app/src/main/java/com/example/sidedish/ui/MainHomeAdapter.kt
  android/app/src/main/java/com/example/sidedish/ui/MainViewModel.kt
  android/app/src/main/java/com/example/sidedish/ui/ProductDetailActivity.kt
  android/app/src/main/java/com/example/sidedish/ui/ProductDetailViewModel.kt
  android/app/src/main/java/com/example/sidedish/ui/common/BindingAdapter.kt
  android/app/src/main/java/com/example/sidedish/ui/common/ThrowableState.kt
  android/app/src/main/java/com/example/sidedish/ui/common/ViewModelFactory.kt
  android/app/src/main/res/layout/activity_product_detail.xml
  android/app/src/main/res/layout/item_menu_data.xml
  android/app/src/main/res/values/strings.xml
  android/build.gradle
Labels: android, feature
